<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Costa Rica Surf Summary</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Costa Rica Surf Summary</h1>
    <div>
      <ul style="list-style: none;">
        {% for item in dict %}
        <li>City:{{ item.City}}</li>
        <li>Wave Height:{{item.Wave_Height}}</li>
        <li>Water Temperature:{{item.Water_Temperature}}</li>
        <li>Air Temperature:{{item.Air_Temperature}}</li>
        <li>Link:<a href={{item.Link}}>Link</a></li>
        <li>------------------------------------------</li>
      {% endfor %}
      </ul>
    </div>
  </div>
</body>

</html>
